---
layout: splash
title: Hey I'm Marcus <br> and I Like to Make Stuff. <br> <br> <br> <br>
excerpt: ""
header:
  overlay_image: /assets/images/homepage/home1crop.jpg
  overlay_filter: 0.5 # same as adding an opacity of 0.5 to a black background
  actions:
intro: 
  - excerpt: Im an Electrical and Electronics Engineer by trade but a Maker at heart. <br> All my life I have loved creating and tinkering with things. <br> I enjoy bringing designs to life. <br> <br>
feature_row:
  - image_path: /assets/images/homepage/esp32.gif
    image_caption: "NES emulation on an ESP32"
    alt: Electronics 
    title: ""
    # excerpt: "NES emulation on an ESP32"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/homepage/pinas.gif
    image_caption: "Single HDD Raspberry Pi NAS"
    alt: CAD / Design 
    title: "" 
    # excerpt: "Single HDD Raspberry Pi NAS"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/homepage/3dp.gif
    image_caption: "Custom tuned and compiled Marlin on an MKS Tinybee in a SUNLU S8 printer"
    alt: 3D Printing 
    title: ""
    # excerpt: "Custom tuned and compiled Marlin on an MKS Tinybee in a SUNLU S8 printer"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/homepage/leatherwallet.gif
    image_caption: "Leather Long Wallet"
    alt: Leatherworking
    title: ""
    # excerpt: "NES emulation on an ESP32"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/homepage/spray.gif
    image_caption: "Custom Switch Joycons"
    alt: CAD / Design 
    title: "" 
    # excerpt: "Single HDD Raspberry Pi NAS"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/homepage/customgba.gif
    image_caption: "Custom GBA"
    alt: 3D Printing 
    title: ""
    # excerpt: "Custom tuned and compiled Marlin on an MKS Tinybee in a SUNLU S8 printer"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/homepage/home2.jpg
    image_caption: "Cooper, My Shih Tzu"
    alt: "My Interests"
    title: "My Interests"
    excerpt: As a Maker, I believe in being a jack of all trades and learning as much as possible to broaden the scope of my projects, their workmanship, reliability and **WOW** factor. <br> <br> I have dabbled in many areas such as Leatherworking, Sowing, Woodworking, Carving and many more! However, I do find myself more inclined towards Retro and Techy hardware. <br> <br> I like to take matters in my own hands to modify, upgrade or take apart ( and problaby wreck ) existing products out of morbid curiosity. <br> <br> You would problaby find me in my room deep in my works hammering away at my keyboard or breathing in solder fumes ( nasty! ) while I CAD out my next project.
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/homepage/cooper.jpg
    alt: "My Journey"
    title: "My Journey"
    excerpt: 'I graduated with a Diploma in Electrical and Electronic Engineering from Singapore Polytechnic in 2022'
  - image_path: /assets/images/homepage/cooper.jpg
    title: ""
    excerpt: 'Continued in Singapore Polytechnic where I worked as Research Staff for AI Leaf Detection and IOT Urban Farming'
  - image_path: /assets/images/homepage/cooper.jpg
    alt: ""
    title: ""
    excerpt: Currently waiting to start University at the National University of Singapore in 2024 as I serve my 2 years in National Service'
feature_row4:
  - image_path: /assets/images/homepage/micboomphonemount.gif
    image_caption: "Phone Clamp For Mic Boom Arm"
    alt: 
    title: ""
    # excerpt: "NES emulation on an ESP32"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/homepage/laptoppb3.gif
    image_caption: "Laptop PowerBank"
    alt: 3D Printing 
    title: ""
    # excerpt: "Custom tuned and compiled Marlin on an MKS Tinybee in a SUNLU S8 printer"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/homepage/tvstatic.gif
    image_caption: "RetroTube TV - Loop YT Videos"
    alt: 
    title: "" 
    # excerpt: "Single HDD Raspberry Pi NAS"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/homepage/ledcube.gif
    image_caption: "LED Cube"
    alt: Leatherworking
    title: ""
    # excerpt: "NES emulation on an ESP32"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/homepage/tractorbeam.gif
    image_caption: "Ultrasound Tractor Beam"
    alt: CAD / Design 
    title: "" 
    # excerpt: "Single HDD Raspberry Pi NAS"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/homepage/epennyboard2.gif
    image_caption: "Electric Pennyboard"
    alt: 3D Printing 
    title: ""
    # excerpt: "Custom tuned and compiled Marlin on an MKS Tinybee in a SUNLU S8 printer"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
feature_row5:
  - image_path: /assets/images/homepage/gbadoom.gif
    alt: "Enough About Me, What About You?"
    title: "Enough About Me, What About You?"
    excerpt: 'Shoot me an Email. Or a Tweet. Or a DM. Whatever u prefer!'
    url: /links/
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" %}

{% include feature_row id="feature_row5" type="center" %}

{% include feature_row_latest_posts %}
