---
layout: splash
title: Hey I'm Marcus <br> and I Like to Make Stuff <br> <br> <br> <br>
excerpt: ""
header:
  overlay_image: /assets/images/homepage/home1crop.jpg
  overlay_filter: 0.5 # same as adding an opacity of 0.5 to a black background
  actions:
intro: 
  - excerpt: Im an Electrical and Electronics Engineer by trade but a Maker at heart. <br> All my life I have loved creating and tinkering with things. <br> I enjoy bringing designs to life. <br> <br>
feature_row:
  - image_path: /assets/images/homepage/esp32.gif
    image_caption: "NES emulation on an ESP32"
    # alt: Electronics 
    # excerpt: "Custom tuned and compiled Marlin on an MKS Tinybee in a SUNLU S8 printer"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/homepage/pinas.gif
    image_caption: "Single HDD Raspberry Pi NAS"
  - image_path: /assets/images/homepage/3dp.gif
    image_caption: "Custom tuned and compiled Marlin on an MKS Tinybee in a SUNLU S8 printer"
  - image_path: /assets/images/homepage/leatherwallet.gif
    image_caption: "Leather Long Wallet"
  - image_path: /assets/images/homepage/spray.gif
    image_caption: "Custom Switch Joycons"
  - image_path: /assets/images/homepage/customgba.gif
    image_caption: "Custom GBA"
feature_row2:
  - image_path: /assets/images/homepage/home2.jpg
    title: About me
    excerpt: "Since young I had access to various tools and a huge bag of materials my parents kept which allowed me to tinker endlessly during my free time. Through this, I found myself inclined to electronics and techy hardware which developed into me pursuing a Diploma in Electrical and Electronic Engineering to further my studies. <br> <br> However, I also do believe in being a jack of all trades and learning as much as possible. With more skills I gather I am able to broaden the scope, workmanship and fulfill the itch to create new interesting projects. These are some of the skills I have picked up over the years. <br>"
    skills: "
    **Coding** - Python ( CV, Scripting ) C++ ( Electronics, Microcontroller Applications ) Web design ( HTML, CSS ) <br> 
    **Building** - Electronics, Woodworking, Leatherworking, Sowing, Product Design <br> 
    **CAD** - Fusion360, Sketchup, Eagle <br> 
    **Production** - Da Vinci Resolve, Inkscape <br> 
    **+ Many More!**"
feature_row3:
  - image_path: /assets/images/homepage/micboomphonemount.gif
    image_caption: "Phone Clamp For Mic Boom Arm"
  - image_path: /assets/images/homepage/laptoppb3.gif
    image_caption: "Laptop PowerBank"
  - image_path: /assets/images/homepage/tvstatic.gif
    image_caption: "RetroTube TV - Loop YT Videos"   
  - image_path: /assets/images/homepage/ledcube.gif
    image_caption: "LED Cube"   
  - image_path: /assets/images/homepage/tractorbeam.gif
    image_caption: "Ultrasound Tractor Beam"    
  - image_path: /assets/images/homepage/epennyboard2.gif
    image_caption: "Electric Pennyboard"    
feature_row4:
  - image_path: /assets/images/homepage/gbadoom.gif
    alt: "Enough About Me, What About You?"
    title: "Enough About Me, What About You?"
    excerpt: 'Shoot me an Email. Or a Tweet. Or a DM. Whatever u prefer!'
    url: /links/
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" %}

{% include feature_row_journey %}

{% include feature_row_latest_posts %}

{% include feature_row id="feature_row4" type="center" %}


