---
layout: splash
title: Hey I'm Marcus <br> and I Like to Make Stuff. <br> <br> <br> <br>
excerpt: ""
header:
  overlay_image: /assets/images/homepage/home1crop.jpg
  overlay_filter: 0.5 # same as adding an opacity of 0.5 to a black background
  actions:
intro: 
  - excerpt: Im an Electrical and Electronics Engineer by trade but a Maker at heart. All my life I have loved creating and tinkering with things. I enjoy bringing designs to life. <br> <br>
feature_row:
  - image_path: /assets/images/homepage/pinas.gif
    image_caption: "Single HDD Raspberry Pi NAS"
    alt: CAD / Design 
    title: CAD / Design 
    # excerpt: "Single HDD Raspberry Pi NAS"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/homepage/esp32.gif
    image_caption: "NES emulation on an ESP32"
    alt: Electronics 
    title: Electronics 
    # excerpt: "NES emulation on an ESP32"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/homepage/3dp.gif
    image_caption: "Custom tuned and compiled Marlin on an MKS Tinybee in a SUNLU S8 printer"
    alt: 3D Printing 
    title: 3D Printing 
    # excerpt: "Custom tuned and compiled Marlin on an MKS Tinybee in a SUNLU S8 printer"
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/homepage/home2.jpg
    alt: "placeholder image 2"
    title: "I do "
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/teaser/mainteaser.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/teaser/mainteaser.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}